body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --occorange: #e98a34;
}
a {
  color: blue;
}
a:visited {
  text-decoration: none;
  color: blue;
}
.search-box {
  height: 100px;
}
.form-label {
  font-weight: bold;
}

.form-control {
  height: 60px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 8px 0;
  width: 40vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-left: 50px;
  font-size: 22px;
  display: inline-block;
}
.form-control:active {
  outline: none;
}
.form-control:focus-visible {
  outline: none;
}
.form-search {
  border-radius: 10px 0px 0px 10px;
}
.form-false {
  border: 1px solid red;
}
.form-input {
  border-radius: 10px 10px 10px 10px;
}

.input-box {
  height: 50px;
  width: 400px;
}

.main-header {
  padding-top: 200px;
}
.pad-top-lg {
  padding-top: 100px;
}
.bg-header {
  position: absolute;
  width: 15vw;
  height: 6vw;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5%;
  font-size: 24px;
  color: var(--occorange);
  font-weight: bold;
}
.top-right:hover {
  filter: brightness(65%);
  cursor: pointer;
}

.btn-primary,
.btn-outline-primary {
  background-color: var(--occorange);
  color: black;
  height: 60px;
  font-size: 20px;
  width: 100px;
  margin-left: auto;
  border: 0;
  padding-bottom: 2px;
  border-radius: 0px 10px 10px 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn-primary:active,
.btn-outline-primary:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  color: white;
  filter: brightness(85%);
  cursor: pointer;
}

.btn-export {
  height: 50px;
  width: 100px;
  border: 0;
  border-radius: 5px;
  margin-left: 0;
}
.btn-export:hover {
  color: white;
  filter: brightness(85%);
  cursor: pointer;
}

.error-message {
  color: red;
}

.btn-standard {
  background-color: var(--occorange);
  outline: none;
  color: black;
  height: 75px;
  width: 250px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
}
.btn-standard-resize {
  background-color: var(--occorange);
  color: black;
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
.btn-standard-resize:hover {
  cursor: pointer;
  filter: brightness(60%);
}

.btn-standard:hover {
  cursor: pointer;
  filter: brightness(60%);
}
.btn-disabled {
  background-color: gray;
  color: black;
  height: 75px;
  width: 250px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
}

.expand-link {
  height: 100px;
  width: 300px;
}

.success-text {
  color: green;
  font-size: 24px;
}
.center-box {
  margin: auto;
  width: 50%;
  text-align: center;
}
.center-content {
  margin: auto;
  width: 60%;
}
.align-item-right {
  float: right;
}
.center-item {
  text-align: center;
}
.center-text {
  text-align: center;
}
.top-left {
  margin-top: 25px;
  margin-left: 25px;
}
.center-box-container {
  margin-top: 50px;
}
.search-result {
  font-size: 20px;
}
.last-item {
  margin-bottom: 20px;
}
.table-options {
  display: flex;
  justify-content: center;
  width: 60vw;
  margin-bottom: 30px;
}

.table-option:first-child {
  margin-right: auto;
}
.table-option:last-child {
  margin-left: auto;
}
.total-hr-visual {
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  margin-right: 4vw;
}
.dropdown {
  background-color: white;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 0 1em 0;
  width: 200px;
  height: 50px;
  text-align: center;
}
.field-item {
  margin: 10px;
}
.format-table {
  width: 1500px;
  height: 300px;
  overflow: auto;
}
.student-table {
  width: 60vw;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.student-table thead {
  height: 40px;
  font-size: 1.2em;
  background-color: var(--occorange);
}
.student-table tbody td,
.student-table tbody th {
  border: 1px solid #ddd;
  padding: 12px 15px;
}
.student-table tbody {
  width: 100%;
}
.student-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.student-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.student-table tbody tr:hover {
  background-color: #ddd;
}
.student-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--occorange);
}

.border-box {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;

  width: 25vw;
  background-color: #ffffff;
  outline: 1px solid #ddd;
  padding: 20px;
  border-radius: 20px;
}
.border-item {
  margin-bottom: 10px;
  cursor: default;
}
.list-group-item {
  margin-bottom: 10px;
}
.divider {
  width: 50px;
  height: auto;
  display: inline-block;
}

.large-text {
  font-size: 24px;
}

.visually-hidden {
  margin: auto;
  text-align: center;
}

.Toastify__toast-body {
  font-size: 20px;
}

.bold-text {
  font-weight: bold;
}

.space {
  height: 50px;
}

.delete-btn {
  font-size: 18px;
  border: 1px solid lighten(gray, 24%);
  border-radius: 8px;
  color: red;
  margin-left: 20px;
  display: none;
}
.border-item:hover + .delete-btn,
.delete-btn:hover {
  display: inline-block;
  background-color: lighten(red, 48%);
}

.popout {
  animation: popout 0.25s ease;
  -webkit-animation: popout 0.25s ease;
}
@keyframes popout {
  from {
    transform: scale(0.8);
  }
  95% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0.8);
  }
  95% {
    -webkit-transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
